# Bộ đệm biên dịch của Python
__pycache__/
*.pyc
.pytest_cache/

# Tệp đệm môi trường mạng
.env

# HẠ TẦNG KHÓA VÀ DB
storage/ca/*
storage/users/*
storage/db/*.db
storage/db/*.db-journal

# Thư mục đệm xử lý file PDF hành chính
temp/